<style>
.hidden {
  display:none;
}
</style>

<h2 align="center">Voter list</h2>
<div class="table-responsive" align="center">
  <table class="table table-condensed display compact" id="voterlist" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
      <th class="col-md-1">S.No.</th>
      <th class="col-md-7">EName</th>
      <th class="col-md-3">EPIC No.</th>
      <th class="col-md-1 text-right">House No.</th>
    </tr>
   </thead>
   <tbody>
    {{#each voters}}
      <tr id="{{id}}" class="{{rowclass}}">
        <td class="col-md-1"><a onclick="process('{{id}}', '{{rowclass}}', 'verify'); return false;" href="#">{{sno}}</a></td>
        <td class="col-md-7">
            <a onclick="$('#div_{{id}}').removeClass('hidden'); toggleDonor('{{id}}'); return false;" href="#">{{ename}}</a>
            <div id="div_{{id}}" class="hidden">
                EPIC: {{idno}} <a onclick="addVoter('{{houseno}}'); return false;" href="#">New Voter</a>
                <form id="frm_{{id}}" role="form">
                    <input type="hidden" name="id" value="{{id}}">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="votertype_{{id}}" id="supporter_{{id}}" value="S" {{#if supporter}}checked{{/if}}> Supporter
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="votertype_{{id}}" id="neutral_{{id}}" value="N" {{#if neutral}}checked{{/if}}> Neutral
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="votertype_{{id}}" id="antagonist_{{id}}" value="A"{{#if antagonist}}checked{{/if}}> Non supporter
                        </label>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mobile Number" id="mobile_{{id}}" {{#if mobile}}value="{{mobile}}"{{/if}}>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="E-mail ID" id="email_{{id}}" {{#if email}}value="{{email}}"{{/if}}>
                    </div>

                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="volunteer_{{id}}" value="Volt" {{#if volunteer}}checked{{/if}}> Voluntr
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="donorcheck_{{id}}" value="Donor" onClick="toggleDonor('{{id}}');" {{#if donor}}checked{{/if}}> Donor
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="WA_{{id}}" value="WA" {{#if wp}}checked{{/if}}> WA
                        </label>
                    </div>

                    <div class="hide" id="donor_{{id}}">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Amount" id="amount_{{id}}" {{#if amount}}value="{{amount}}"{{/if}}>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Receipt" id="receipt_{{id}}" {{#if receipt}}value="{{receipt}}"{{/if}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="updateDetails('{{id}}', '{{rowclass}}')">Submit</button>
                        <button type="button" class="btn btn-danger" onclick="hideDiv('{{id}}')">Cancel</button>
                    </div>

                </form>
            </div>
        </td>
        <td class="col-md-3">{{idno}}</td>
        <td class="col-md-1 text-right"><a onclick="process('{{id}}', '{{rowclass}}', 'deletion'); return false;" href="#">{{houseno}}</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('#voterlist').DataTable({
    "lengthMenu": [[100, 200, 500, -1], [100, 200, 500, "All"]],
    "columnDefs": [{ "targets": [ 2 ], "visible": false}]
    });
  });

function addVoter(houseno){
  var acno = {{acno}};
  var partno = {{partno}};
  var section = {{section}};
  var form = '<form id="newform">' +
             '<div class="form-group">' +
             '<label for="newname">Name</label>' +
             '<input type="text" class="form-control" id="newname" placeholder="Name">' +
             '</div>' +
             '<div class="form-group">' +
             '<label for="newmobile">Mobile</label>' +
             '<input type="text" class="form-control" id="newmobile" placeholder="Mobile">' +
             '</div>' +
             '</form>';
  bootbox.dialog({
    title: "Add new voter",
    message: form,
    buttons: {
      success: {
        label: 'Save',
        class: 'btn-success',
        callback: function(){
          var newname = '';
          newname = $('#newname').val();
          var mobile = '';
          newmobile = $('#newmobile').val();
          if(!newname || !newmobile){
            alert("Both fields are required!");
            return false;
          }

          $.post('/addvoter',{
            acno    : acno,
            section : section,
            partno  : partno,
            houseno : houseno,
            name    : newname,
            mobile  : newmobile
          }, function(data, status){
            if(data == 'Done'){
              alert("Successfully added!");
            }
            else {
              alert("You are not logged in!");
              window.location.replace('/');
            }
          });

        }
      }
    }
  });
}

function process(id, current, action){

    var newclass;
    var message;
    if(current){
        alert("Voter already processed! Cannot proceed.");
        return false;
    }
    if(action == 'verify'){
        newclass = 'success';
        message = "Verify voter?";
    }
    else if(action == 'deletion'){
        newclass = 'danger';
        message = "Mark for deletion?";
    }

    var answer = confirm(message);
    if (answer) {
      $.post('/process',{
        id     : id,
        action : action
      }, function(data, status){
        if(data == 'Done'){
            document.getElementById(id).className = newclass;
        }
        else {
            alert("You are not logged in!");
            window.location.replace('/');
        }
      });
    } else {
      return false;
    }
}

function toggleDonor(id){
    if($('#donorcheck_' + id).is(':checked')) {
        $('#donor_' + id).removeClass('hide');
    }
    else {
        $('#donor_' + id).addClass('hide');
    }
}

function hideDiv(id){
  $('#div_' + id).addClass('hidden');
}

function updateDetails(id, current){
    if(current){
        alert("Voter already processed! Cannot proceed.");
        return false;
    }
    var volunteer = 'N';
    var d2dstatus = 'N';
    var wp = 'N';
    var donor ='N';
    var email = '';
    email = $('#email_' + id).val();
    var mobile = '';
    mobile = $('#mobile_' + id).val();
    var receipt = '';
    receipt = $('#receipt_' + id).val();
    var amount = '';
    amount = $('#amount_' + id).val();

    if($('#volunteer_' + id).is(':checked')) {
        volunteer = 'Y';
    }
    if($('#WP_' + id).is(':checked')) {
        wp = 'Y';
    }
    if($('#donorcheck_' + id).is(':checked')) {
        donor = 'Y'
    }

    if($('#supporter_' + id).is(':checked')) {
        d2dstatus = 'S';
    }
    else if($('#neutral_' + id).is(':checked')) {
        d2dstatus = 'N';
    }
    else if($('#antagonist_' + id).is(':checked')) {
        d2dstatus = 'A';
    }

    if(email){
        var re = /\S+@\S+\.\S+/;
        if(!re.test(email)) {
            alert("Invalid email address");
            return false;
        }
    }

    if(donor == 'Y' && (!receipt || !amount)){
        alert("Please fill in receipt/amount details!");
        return false;
    }


    $.post('/process',{
        id     : id,
        action: 'modification',
        volunteer: volunteer,
        d2dstatus: d2dstatus,
        wp: wp,
        donor: donor,
        email: email,
        mobile: mobile,
        receipt: receipt,
        amount: amount
    }, function(data, status){
        if(data == 'Done'){
            document.getElementById(id).className = 'warning';
            hideDiv(id);
        }
        else {
            alert("You are not logged in!");
            window.location.replace('/');
        }
    });

}
</script>
